@font-family:'Open Sans', sans-serif;
@base-color:#283645;

.font(@font-size:16px; @font-weight:normal; @text-color: black; @line-height:14px;){
	font-size: @font-size;
	font-weight: @font-weight;
	color: @text-color;
	line-height: @line-height;
}

*:focus{
	outline: none;
}

body{
	padding:0;
	margin:0;
	font-family: @font-family;
}

.wrapper-center{
	width:320px;
	margin:0 auto;
}
.page-header{
	background-color: rgba(28,37,47,.3);
	position: absolute;
	top:0;
	width:100%;
	z-index: 1;
}
.page-header-wrap{
	padding: 20px;
	position: relative;
}
.logo, .open-menu-btn{
	display: inline-block;
	vertical-align: top;
}
.open-menu-btn{
	background: url('../img/open-menu-btn.png');
	border: none;
	width: 50px;
	height: 24px;
	position: absolute;
	right:20px;
}
.mobile-menu{
	background: @base-color;
	position: absolute;
	left: 0;
	top:67px;
	width:100%;
	display: none;
	
	&__list{
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&__item{
		border-top: 1px solid #000101;
		box-shadow: inset 0 1px 0 #485461;
		text-align: center;
	}
	&__link{
		.font(18px;700;white;32px;);
		display: block;
		padding: 15px 0;
		text-decoration: none;
	}
}
.page-title{
	.font(24px;300;white;auto;);
	margin: 0;
	background: url("../img/bg_header-min.jpg") no-repeat;
	padding: 20px;
	padding-top: 80px;
	padding-bottom: 45px; 
	text-align: center;
	height:198px;
	box-sizing: border-box;

	&--big{
		height:460px;
		background: url("../img/bg_header.jpg") no-repeat;
		
	}
}
.mobile-app{
	background: #1d2631;
	padding: 30px 20px;
	text-align: center;

	&__logos{
		font-size: 0;
		padding-left: 37px;
		margin: 25px 0;
	}
	&__link-down{
		.font(18px;700;white;20px;);
		
		display: block;
		border: 3px solid white;
		border-radius: 30px;
		padding: 15px 0;
		text-decoration: none;
	}
	&__link{
		display: inline-block;
		vertical-align: top;
		margin-right: 35px;
		height: 57px;
		width: 46px;
	}
	&__info{
		.font(14px;300;white;24px;)
	}
}
.information{
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 20px;
	text-align: center;
	&:after{
		content: '';
		display: block;
		width: 100%;
		height: 30px;
		transform: skewY(-5deg);
		background: #f2f2f2;
		position: absolute;
		bottom: -35px;
		z-index: -1;
	}
	&__text{
		.font(24px; 300; @base-color; auto;);
	}
}
.features{
	background: #f2f2f2;
	padding: 25px 20px;
	padding-bottom: 0;

	&:after{
		content: '';
		display: block;
		background: url('../img/iphone.png') no-repeat center;
		height: 279px;
		margin-top: 30px;
	}
}
.features-item{
	text-align: center;
	&__title{
		.font(18px; 700; black; 24px;)
	}
	&__text{
		.font(14px;400;@base-color;24px;)
	}
}
.review{
	text-align: center;
	&__title{
		.font(18px; 700; black; 30px;);
	}
	&__text{
		.font(14px; 400; @base-color; 30px;)
	}
}
.pages{
	padding: 40px 0;

	&__list{
		margin: 0;
		padding: 0;
		list-style:none;
		font-size: 0;
		text-align: center;
	}
	&__item{
		display: inline-block;
		vertical-align: middle;
		margin-right: 15px;
	}
	&__link{
		display: block;
		background: #bec2c7;
		border-radius: 50%;
		height: 6px;
		width: 6px;
	}
	&__link--active{
		background: #fff;
		border:3px solid @base-color;
	}
}
.slider--grey{
	background: #f2f2f2;
	position: relative;
	margin-top: 30px;
	padding-top: 50px;

	&:before{
		content: '';
		display: block;
		width: 100%;
		height: 30px;
		transform: skewY(-5deg);
		background: #f2f2f2;
		position: absolute;
		top: -15px;
		z-index: -1;
	}
}
.tarif{
	width: 275px;
	margin:0 20px;

	&__list{
		padding: 0;
		margin: 0;
		list-style: none;
	}
	&__title{
		padding: 20px 0;
		background: @base-color;
		text-align: center;
		.font(24px; 300; white; 30px;)
	}
	&__name{
		display: block;
		.font(18px; 700; white; 30px;);
	}
	&--hit{
		position: relative;

		&:before{
			content: '';
			display: block;
			width: 74px;
			height: 73px;
			background: url('../img/tarif_hit.png') no-repeat;
			position: absolute;
			left: -2px;
			top: 0;
		}
	}
	&__item{
		background: #fff;
		padding: 15px 20px;
		margin-bottom: 2px;
		text-transform: uppercase;
		.font(14px; 400; @base-color; 30px;)
	}
	&__item--selected{
		background: #fff url('../img/selected.png') no-repeat 230px;
	}
	&__item--nonselected{
		background: #fff url('../img/non-selected.png') no-repeat 230px;
	}
}
.page-footer{
	text-align: center;
	&__title{
		.font(24px; 300; @base-color; auto;);
	}
}
.contacts{
	padding: 0 20px;
	
	&__title{
		.font(18px;700; @base-color; auto;);
		margin: 0;
	}
	&__text{
		.font(24px;300; #d22856; auto;);
		margin: 0;
		margin-bottom: 25px;
	}
}
.blog{
	padding: 20px;
}
.blog-item{
	&__title{
		.font(18px;700;@base-color;27px;)
	}
	&__date{
		.font(14px;400;#d22856;27px;)
	}
	&__text{
		.font(14px;400;@base-color;27px;)
	}
}
.main-footer{
	text-align: center;
	margin-top: 40px;
}
.logo{
	&__link{
		  display: inline-block;
		  vertical-align: top;
	}
}
.social-icons{
	font-size: 0;
	margin-top: 30px;
}
.social-icon{
	display: inline-block;
	vertical-align: top;
	width:50px;
	height: 50px;
	border: 2px solid #e9ebec;
	border-radius:50%;
	margin-right: 12px;

	&--tw{
		background: url(../img/tw.png) no-repeat 50%;
	}
	&--fb{
		background: url(../img/fb.png) no-repeat 50%;
	}
	&--yt{
		background: url(../img/yt.png) no-repeat 50%;
	}
}
.developer{
	margin-top: 35px;
	.font(14px;400;@base-color;18px;);
	&__link, &__text{
		display: inline-block;
		vertical-align: middle;
	}
}
.blog-post{
	padding: 20px;
	&__title{
		.font(30px;700;@base-color;36px;);
		text-align: center;
	}
	&__date{
		.font(12px;400;#d22856;27px;);
		text-align: center;
		text-transform: uppercase;
	}
	&__text:first-of-type{
		text-align: center;
		.font(16px;400;@base-color;27px;);
	}
	&__subtitle{
		.font(18px;700;@base-color;30px;);
		text-transform: uppercase;
	}
	&__text{
		.font(14px;400;@base-color;27px;);
		&>a{
			color:#d22856;
		}
	}

}
.cities{
	margin: 0;
	padding: 0;
	list-style: none;
	
	&__item{
		position: relative;
		padding-left: 35px;
		margin-bottom: 40px;
		.font(14px;400;@base-color;27px;);

		&:before{
			content: '';
			display: inline-block;
			vertical-align: top;
			background: #d22856;
			border-radius: 50%;
			position: absolute;
			left:0;
			width:6px;
			height: 6px;
			top: 50%;
			margin-top: -2px;
		}
	}
}
.quote{
	border-left: 2px solid #d22856;
	margin: 0;
	padding-left: 20px;

	&__text{
		.font(14px;400;@base-color;27px;);
	}
	&__author{
		.font(14px;400;#8a8a8a;27px;);
		font-style: italic;
	}
}
.pagination{
	padding: 20px;

	&__list{
		padding:0;
		margin: 0;
		list-style:none;
		font-size: 0;
	}
	&__item{
		display: inline-block;
		vertical-align: top;
		margin-right: 10px;
	}
	&__item:not(:first-child){
		margin-right: 0;
	}
	&__link{
		display: block;
		padding: 15px 0;
		width:60px;
		box-sizing: border-box;
		text-align: center;
		text-decoration: none;
		border: 2px solid #e5e5e5;
		border-radius: 3px;
		.font(18px;700;@base-color;30px;);
	}
	&__link--active{
		border-color:#d22856;
	}
	&__link--big{
		display: inline-block;
		vertical-align: top;
		width:130px;
		text-transform: uppercase;
	}
	&__item--big{
		margin-right: 20px;
	}
	&__item--row{
		display: block;
		margin-top: 20px;	}
	&__link--row{
		width: 100%;
		text-transform: uppercase;
	}
}