@font-family:'Open Sans', sans-serif;
@base-color:#283645;

.font(@font-size:16px; @font-weight:normal; @text-color: black; @line-height:14px;){
	font-size: @font-size;
	font-weight: @font-weight;
	color: @text-color;
	line-height: @line-height;
}

*:focus{
	outline: none;
}

img{
	max-width: 100%;
}

body{
	padding:0;
	margin:0;
	font-family: @font-family;
	min-width:320px;
	max-width: 480px;
	margin: 0 auto; 
}
.container{
	max-width: 960px;
	margin:0 auto;
}
.page-header{
	&__wrap{
		background: url("../img/bg_header.jpg") no-repeat;
		background-size: cover;
	}
	&__wrap--big{
		height:460px;	
		position: relative;	
	}

	&__wrap--big:after{
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left:0;
		width:320px;
		height: 312px;
		background: url("../img/page-header-iphone.png") no-repeat 0 20px;
	}
	&-top{
		padding: 20px;
		position: relative;
		background-color: rgba(28,37,47,.3);
		height: 65px;
		box-sizing: border-box;
	}
}
.page-title{
	.font(24px;300;white;normal;);
	margin: 0;
	padding: 20px; 
	text-align: center;
	box-sizing: border-box;
}
.open-menu-btn{
	background: url('../img/open-menu-btn.png');
	border: none;
	width: 50px;
	height: 24px;
	position: absolute;
	right:20px;
	cursor: pointer;
}
.logo{
	
	&__link{
		text-transform: uppercase;
		font-size: 30px;
		color: #fff;
		text-decoration: none;
		line-height: 25px;
	}
	&--left{
		float:left;
	}
}
.mobile-menu{
	background: @base-color;
	position: absolute;
	left: 0;
	top:67px;
	width:100%;
	display: none;
	
	&__list{
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&__item{
		border-top: 1px solid #000101;
		box-shadow: inset 0 1px 0 #485461;
		text-align: center;
	}
	&__link{
		.font(18px;700;white;32px;);
		display: block;
		padding: 15px 0;
		text-decoration: none;

		&:hover{
			color:#d22856;
		}
		&:active{
			opacity: 0.5;
		}
	}
}
.mobile-app{
	background: #1d2631;
	padding: 30px 20px;
	text-align: center;

	&__logos{
		font-size: 0;
		padding-left: 37px;
		margin: 25px 0;
	}
	&__link-down{
		.font(18px;700;white;20px;);
		
		display: block;
		border: 3px solid white;
		border-radius: 30px;
		padding: 15px 0;
		text-decoration: none;

		&:hover{
			background: #fff;
			color:#d8456d;
		}
		&:active{
			color:#f1becc;
		}
	}
	&__link{
		display: inline-block;
		vertical-align: top;
		margin-right: 35px;
		height: 57px;
		width: 46px;
	}
	&__info{
		.font(14px;300;white;24px;)
	}
}
.information{
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 20px;
	text-align: center;
	&__text{
		.font(24px; 300; @base-color; normal;);
	}
}
.features{
	background: #f2f2f2;
	padding: 25px 20px;
	padding-bottom: 0;
	position: relative;
	
	&:before{
		content: '';
		display: block;
		width: 100%;
		height: 45px;
		transform: skewY(-5deg);
		background: #f2f2f2;
		position: absolute;
		top: -22px;
		z-index: -1;
		left:0;
	}

	&:after{
		content: '';
		display: block;
		background: url('../img/iphone.png') no-repeat center;
		height: 279px;
		margin-top: 30px;
	}
}
.features-item{
	text-align: center;
	&__title{
		.font(18px; 700; black; 24px;)
	}
	&__text{
		.font(14px;400;@base-color;24px;)
	}
	&__image{
		display: none;
	}
}
.review{
	text-align: center;
	&__title{
		.font(18px; 700; black; 30px;);
	}
	&__text{
		.font(14px; 400; @base-color; 30px;)
	}
	&__info{
		display: none;
	}
}
.pages{
	padding: 40px 0;

	&__list{
		margin: 0;
		padding: 0;
		list-style:none;
		font-size: 0;
		text-align: center;
	}
	&__item{
		display: inline-block;
		vertical-align: middle;
		margin-right: 15px;
	}
	&__link{
		display: block;
		background: #bec2c7;
		border-radius: 50%;
		height: 6px;
		width: 6px;

		&:hover{
			background: #7e868f;
		}

		&:active{
			background: #e9ebec;
		}
	}
	&__link--active{
		background: #fff;
		border:3px solid @base-color;

		&:hover{
			background: #fff;
		}

		&:active{
			background: #fff;
		}
	}
}
.slider--grey{
	background: #f2f2f2;
	margin-top: 30px;
	padding-top: 50px;
	min-height: 286px;

	&:before{
		content: '';
		display: block;
		width: 100%;
		height: 45px;
		transform: skewY(-5deg);
		background: #f2f2f2;
		position: absolute;
		top: -20px;
		z-index: -1;
	}
}
.slider{
	position: relative;

	&__inner{
		position: relative;
		overflow: hidden;
		min-height:286px;
	}
}
.tarif{
	display: inline-block;
	vertical-align: top;
	position: absolute;
	width: 86%;
	margin: 0 7%;
		
	&:first-of-type{
		left:-87%;
	}
	&:nth-of-type(3){
		right:-87%;
	}

	&__list{
		padding: 0;
		margin: 0;
		list-style: none;
	}
	&__title{
		padding: 20px 0;
		background: @base-color;
		text-align: center;
		.font(24px; 300; white; 30px;);
		position: relative;
	}
	&__name{
		display: block;
		.font(18px; 700; white; 30px;);
	}
	&--hit{
		
		&:before{
			content: '';
			display: block;
			width: 74px;
			height: 73px;
			background: url('../img/tarif_hit.png') no-repeat;
			position: absolute;
			left: -2px;
			top: 0;
			z-index: 1;
		}
	}
	&__item{
		background: #fff;
		padding: 15px 20px;
		margin-bottom: 2px;
		text-transform: uppercase;
		.font(14px; 400; @base-color; 30px;)
	}
	&__item--selected{
		background: #fff url('../img/selected.png') no-repeat 92%;
	}
	&__item--nonselected{
		background: #fff url('../img/non-selected.png') no-repeat 92%;
	}
}
.page-footer{
	text-align: center;
	&__title{
		.font(24px; 300; @base-color; normal;);
	}
}
.contacts{
	padding: 0 20px;
	
	&__title{
		.font(18px;700; @base-color; normal;);
		margin: 0;
	}
	&__text{
		.font(24px;300; #d22856; normal;);
		margin: 0;
		margin-bottom: 25px;
	}
}
.blog{
	padding: 20px;
}
.blog-item{
	border-bottom: 1px solid #e5e5e5;
	padding: 20px 0;

	&__title{
		.font(18px;700;@base-color;27px;);
		margin-bottom: 0;
	}
	&__date{
		.font(14px;400;#d22856;27px;);
		text-transform: uppercase;
	}
	&__text{
		.font(14px;400;@base-color;27px;)
	}
}
.main-footer{
	text-align: center;
	margin-top: 40px;
}
.logo{
	&__link{
		  display: inline-block;
		  vertical-align: top;
	}
}
.social-icons{
	font-size: 0;
	margin-top: 30px;
}
.social-icon{
	display: inline-block;
	vertical-align: top;
	width:50px;
	height: 50px;
	border: 3px solid #e9ebec;
	border-radius:50%;
	margin-right: 12px;

	&:hover{
		border-color: #283645;
	}
	&:active{
		border-color: #e9ebec;
		opacity: 0.5;
	}

	&--tw{
		background: url(../img/tw.png) no-repeat 50%;
	}
	&--fb{
		background: url(../img/fb.png) no-repeat 50%;
	}
	&--yt{
		background: url(../img/yt.png) no-repeat 50%;
	}
}
.developer{
	margin-top: 35px;
	.font(14px;400;@base-color;18px;);
	&__link, &__text{
		display: inline-block;
		vertical-align: middle;
	}
}
.blog-post{
	padding: 20px;
	&__title{
		.font(30px;700;@base-color;36px;);
		text-align: center;
	}
	&__date{
		.font(12px;400;#d22856;27px;);
		text-align: center;
		text-transform: uppercase;
	}
	&__text:first-of-type{
		text-align: center;
		.font(16px;400;@base-color;27px;);
	}
	&__subtitle{
		.font(18px;700;@base-color;30px;);
		text-transform: uppercase;
	}
	&__text{
		.font(14px;400;@base-color;27px;);
		&>a{
			color:#d22856;
		}
	}

}
.cities{
	margin: 0;
	padding: 0;
	list-style: none;
	
	&__item{
		position: relative;
		padding-left: 35px;
		margin-bottom: 40px;
		.font(14px;400;@base-color;27px;);

		&:before{
			content: '';
			display: inline-block;
			vertical-align: top;
			background: #d22856;
			border-radius: 50%;
			position: absolute;
			left:0;
			width:6px;
			height: 6px;
			top: 50%;
			margin-top: -2px;
		}
	}
}
.quote{
	border-left: 2px solid #d22856;
	margin: 0;
	padding-left: 20px;

	&__text{
		.font(14px;400;@base-color;27px;);
	}
	&__author{
		.font(14px;400;#8a8a8a;27px;);
		font-style: italic;
	}
}
.pagination{
	padding: 20px;

	&__list{
		padding:0;
		margin: 0;
		list-style:none;
		font-size: 0;
		text-align: center;
	}
	&__item{
		display: inline-block;
		vertical-align: top;
		margin-right: 3.6%;
		width:21.4%;
	}
	&__link{
		display: block;
		padding: 15px 0;
		
		box-sizing: border-box;
		text-decoration: none;
		border: 2px solid #e5e5e5;
		border-radius: 3px;
		.font(18px;700;@base-color;30px;);
	}
	&__link--active{
		border-color:#d22856;
	}
	&__link--big{
		display: inline-block;
		vertical-align: top;
		text-transform: uppercase;
		width: 100%;

	}
	&__item--big{
		margin-right: 7.4%;
		width: 46.3%;
		box-sizing: border-box;
	}
	&__item--big:nth-of-type(2){
		margin-right: 0;
	}
	&__item--row{
		width: 100%;
		margin-top: 20px;
		margin-right: 0;	
	}
	&__link--row{
		width: 100%;
		text-transform: uppercase;
	}
	&__title{
		display: none;
		.font(18px;700;@base-color;30px;);
	}
}
.wrap{
	padding: 20px;

	&--grey{
		background: #f2f2f2;
		padding: 20px;
	}

	&__title{
		.font(14px;400;#d22856;18px;);
		text-align: center;
		text-transform: uppercase;
	}
}
.form-title{
	padding: 0 20px;
	.font(14px;400;@base-color;30px;);
	text-align: center;
}
.form-row{
	margin-bottom: 10px;

	&__title{
		.font(14px;400;#d22856;30px;);
		text-transform: uppercase;
		display: block;
		padding-left: 20px;
	}
	&__title--big{
		.font(18px;400;@base-color;40px;);
		text-transform: none;
		margin-top: 30px;

	}
	input[type="text"]{
		border: 2px solid #e5e5e5;
		padding: 15px 20px;
		.font(18px;400;@base-color;30px;);
		border-radius: 2px;
		width:100%;
		box-sizing: border-box;
	}
	input[type="text"]:disabled{
		color:@base-color;
		background: #f2f2f2;
	}
	input[type="radio"], input[type="checkbox"]{
		display: none;
	}
	&>input[type="radio"] + label{
		padding-left: 60px;
		background: url('../img/radio-btn.png') no-repeat left center;
	}
	&>input[type="radio"]:checked + label{
		background: url('../img/radio-btn-checked.png') no-repeat left center;
	}
	&>input[type="checkbox"] + label{
		padding-left: 60px;
		background: url('../img/checkbox.png') no-repeat left center;
	}
	&>input[type="checkbox"]:checked + label{
		background: url('../img/checkbox-checked.png') no-repeat left center;
	}
	&__content{
		font-size: 0;
		
		input[type="text"]{
			border-right: none;
			border-left: none;
			text-align: center;
			color:@base-color;
			padding: 15px 0;
			display: table-cell;
			vertical-align: top;
		    width: 57.1%;
		}
		
	}
}
.minus, .plus{
		background: #fff url(../img/minus.png) no-repeat 50%;
		text-align: center;
		padding: 15px 20px;
		border: 2px solid #e5e5e5;
		height: 64px;
		width:21.4%;
		font-size:0;
		display: table-cell;
		vertical-align: top;
}
.plus{
	background-image: url(../img/plus.png);
}
.traveler{
	display: table;
	width: 100%;
}
.left-col, .middle-col{
	display: table-cell;
	vertical-align: top;
}
.left-col{
	width: 20.7%;
}
.middle-col{
	width: 79.3%;
}
.col-title{
	.font(14px;400;#d22856;30px;);
}
.traveler-number{
	text-align: center;
	padding: 15px 20px;
	border: 2px solid #e5e5e5;
	display: block;
	height: 64px;
	box-sizing: border-box;
	border-right: none;
}
input[type="file"]{
	display: none;
}
.upload{
	border: 2px solid #e5e5e5;
	padding: 15px 20px;
	.font(18px;700;@base-color;30px;);
	text-transform: uppercase;
	text-align: center;
	background: #fff;
	display: block;
	margin: 35px 0;
	margin-bottom: 70px;
	cursor: pointer;
	position: relative;

	&:hover{
		border-color:#283645;
	}
	&:active{
		background: #283645;
		color:#fff;
	}
}
.upload:after{
	content: "";
	display: block;
	background: #e5e5e5;
	height: 2px;
	width: 100%;
	position: absolute;
	bottom: -35px;
	left: 0;
}
.foto-wrap{
	font-size: 0;
}
.foto{
	display: inline-block;
	vertical-align: top;
	padding: 0;
	position: relative;
	margin: 0;
	margin-right: 34px;
	margin-bottom: 22px;
	
	@media (max-width: 375px){
		&:nth-of-type(3n){
			margin-right: 0;
		}
	}

	&__close{
		position: absolute;
		top:-17px;
		right:-17px;
		background: url('../img/foto-close.png') no-repeat;
		width:34px;
		height: 34px;
		border:none;

	}
	&__name{
		text-transform: uppercase;
		.font(12px;400;@base-color;18px;);
	}
	&__img{
		max-width: 68px;
	}
}
.btn{
	&--green{
		display: block;
		width: 100%;
		padding: 15px 0;
		text-align: center;
		.font(18px;700;#fff;30px;);
		background: #2aab6d;
		box-shadow: inset 0 0 0 1px #3bb278;
		border: none;
		border-radius: 3px;
		text-transform: uppercase;
		font-family: @font-family;
		transition:all 0.2s linear;

		&:hover{
			background:#1c9b5e;
		}
		&:active{
			color:rgba(255, 255, 255, 0.3);
		}
	}
}
.note{
	text-align: center;
	text-transform: uppercase;
	.font(14px;400;@base-color;30px;);
	
	.pink{
		.font(14px;400;#d22856;30px;) 
	}
}
.effect{
	display: none;
}
.delete{
	display: none;
}
.map{
	height: 200px;
	position: relative;

	iframe{
		width: 100%;
		height: 100%;
		border: none;
		frameborder:none;
	}

	&:before{
		content: '';
		display: block;
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 17.5%;
    	z-index: 1;
    	box-sizing: border-box;
    	background: url('../img/treug.svg') no-repeat;
    	background-size: 100%;
	}
}
.nav-btns{
	display: none;
}
/* Стили для планшета */
@media (min-width: 481px) {
	body{
		min-width:480px;
		max-width: 940px;
	}
	.page-header{
		position: relative;

		&__wrap{
			background: url("../img/bg_header-tab.jpg") no-repeat;
			background-size: cover;
		}
		&__wrap--big{
			height:730px;	
		}

		&__wrap--big:after{
			width:100%;
			height: 100%;
			background: url("../img/page-header-iphone-tab.png") no-repeat bottom;
		}
		&-top{
			height: 110px;
			box-sizing: border-box;
			padding: 30px 40px;
		}
	}
	
	.open-menu-btn{
		top:45px;
		right: 40px;
	}
	.logo{
		&__img, &__title{
			display: inline-block;
			vertical-align: bottom;
		}
	}
	.page-title{
		font-size: 50px;
		padding: 80px 0;

		&--min{
			width: 250px;
			margin-top: 100px;
			font-size: 40px;
			position: relative;
			z-index: 1;
			margin-left: 60px;
			padding: 20px;
		}	
	}
	.mobile-app{
		background: none;
		position: absolute;
		bottom: 70px;
		width:300px;
		margin-left: 20px;

		&__info{
			font-size: 18px;
		}
	}
	.information{
		margin: 50px 0;

		&__text{
			font-size: 40px;
			margin: 0;
		}
		&__text:nth-of-type(2){
			width: 340px;
			margin: 0 auto; 
		}
	}
	.features{
		position: relative;
		padding-bottom: 40px; 
		margin-top: 100px;

		&:before{
			top:-10%;
			height:20%;
		}
		&-item{
			width:50%;
			text-align: left;
			margin-left: 50%;
		}
		&:after{
			position: absolute;
			bottom:0;
			background-image: url('../img/iphone-tab.png');
			background-size: 100%;
			background-position: bottom;
			height: 482px;
			width: 40%;
			max-width: 268px;
			left:6%;
		}
		
	}
	.effect{
		display: block;
		padding: 50px 6%;

		&__img, &__content{
			display: inline-block;
			vertical-align: top;
		}
		&__title{
			.font(30px;700;black;36px;);
		}
		&__text{
			.font(14px;400;@base-color;24px);
		}
		&__link{
			.font(14px;400;#d22856;24px;);
		}
		&__img{
			width: 40%;
		}
		&__content{
			width: 55%;
			margin-left: 10px;
		}
	}
	.review{
		display: flex;
		flex-direction: column;

		&__text{
			font-size:18px;
		}
		&__title{
			font-size:20px;
			order:2;
			margin: 0;
		}
		&__info{
			display: block;
			.font(14px;400;@base-color;30px;);
			order:3;
			margin: 0;
		}
	}
	.slider--grey{
		text-align: center;
		&:before{
			top:-10%;
			height:20%;
		}
	}
	.contacts{
		display: flex;
		justify-content:space-around;
		align-items:center;
		flex-wrap:wrap;

		&__row{
			margin: 0 20px;
		}
	}
	.tarif{
		position: relative;
		width:22%;
		min-width: 100px;
		margin: 0;

		&:first-of-type{
			left:0;
		}
		&:nth-of-type(3){
			right:0;
		}
		&__item{
			font-size: 0;
			background-position: 50%;
			margin: 0;
			border:2px solid #e5e5e5;
			box-sizing: border-box;
			border-bottom-width: 1px;
		}

	}
	.tarif:first-of-type{
		margin-left: 22%;

		.tarif__item{
			position: relative;

		}
		.tarif__item:before{
			content: 'Розовый фильтр';
			display: block;
			position: absolute;
			width: 100%;
			height: 104%;
			left:-108%;
			top:-1px;
			background: #fff;
			.font(14px;400;@base-color;14px;);
			margin-left: 5%;
			text-align: left;
			box-sizing: border-box;
			padding: 17px;
			border:2px solid #e5e5e5;
		}
		.tarif__item:nth-of-type(3):before{
			content: 'Смайлики';
		}
		.tarif__item:nth-of-type(4):before{
			content: 'Комментарии';
		}
	}
	.blog-item{
		margin: 0 100px;
		border-bottom: 1px dashed #e5e5e5;

		&__title{
			position: relative;
			font-size: 27px;
			line-height: 30px;
		}
		&__title:before{
			position: absolute;
			content: '';
			display: block;
			width: 28px;
			height: 26px;
			background: url(../img/blog-post-icon.svg) no-repeat;
			left:-60px;
			top:5px;
		}
		&__text{
			font-size: 18px;
			line-height: 30px;
		}
		&__date{
			margin-top: 5px;
		}

	}
	.pagination{

		&__list{
			text-align: left;
			padding-left: 40px;
			display: flex;
			flex-direction:row;
		}
		&__item{
			width: 9.1%;
			text-align: center;
			min-width: 60px;
		}
		&__title{
			display: inline-block;
			vertical-align: middle;
			padding: 15px;
			padding-left: 0;
		}
		&__item--big{
			width: 20%;
			margin-right: 2.8%;
		}
		&__item--big:nth-of-type(2){
			order:3;
		}
		&__item--row{
			width: 42%;
			margin-top: 0;
			margin-right: 2.8%;
		}
	}
	.main-footer{
		display: flex;
		flex-direction:row;
		align-items:center;
		padding-bottom: 40px;
		&>div{
			flex-grow:1;
			margin: 0;
		}
	}
	.blog-post{
		padding: 40px;

		&__title{
			font-size: 50px;
			line-height: normal;
			margin: 20px 0;
		}
		&__text:first-of-type{
			font-size: 24px;
			line-height: 40px;
			margin: 20px 0;
		}
		&__date{
			font-size: 14px;
			line-height: 30px;
			position: relative;
		}	
		&__date:before{
			position: absolute;
			content: '';
			display: block;
			width: 24%;
			border-top: 1px dashed #e5e5e5;
			left:0;
			top:50%;
		}
		&__date:after{
			right: 0;
			position: absolute;
			content: '';
			display: block;
			width: 24%;
			border-top: 1px dashed #e5e5e5;
			top:50%;
		}
		&__subtitle{
			font-size: 24px;
		}
		&__text{
			font-size: 18px;
			margin-bottom: 40px;
		}
	}
	.wrap{
		position: relative;
		margin-bottom: 60px;
		border: 2px solid #e5e5e5;
		border-radius: 2px;
		padding: 50px;

		&:first-of-type{
			padding: 0;
			border: none;
		}
		&:last-of-type{
			border: none;
		}
		&__title{
			padding: 0 20px;
			position: absolute;
			top:-9px;
			background: #fff;
			left: 50%;
  			transform: translateX(-50%);
		}
		&:nth-of-type(3){
			font-size: 0;
		}
		
		&:nth-of-type(3) .form-row{
			width: 48%;
			display: inline-block;
			vertical-align: top;
			min-width: 210px;

			@media (max-width:653px){
				width: 100%;
				min-width: 0;
			}
		}
		&:nth-of-type(3) .form-row:nth-of-type(2){
			margin-right: 3%;
		}
		&:nth-of-type(4) .form-row__content input[type='text'] {
			background: #fff;
			border:none;
		}
	}
	.form-row{
		&__title{
			margin: 10px 0;
		}
	}
	.wrap--grey{
		background: none;
	}
	.form{
		padding: 40px;

		&__title{
			font-size: 14px;
		}	
	}
	.left-col, .middle-col, .right-col{
		display: inline-block;
		vertical-align: top;
	}
	.left-col{
		width: 10.2%;
		margin-right: 3%;
	}
	.traveler-number{
		background: #f2f2f2;
		border: 2px solid #e5e5e5;
	}
	.middle-col{
		width: 64.8%; 
		.form-row__title{
			margin: 0;
		}
		input[type="text"]{
			width: 100%;
		}
	}
	.right-col{
		padding-top: 45px;
		width: 20%;
		text-align: center;
	}
	
	.form-row--min{
			width: 48%;
			min-width: 210px;
	}
	.delete{
		display: inline-block;
		vertical-align: middle;
		background: none;
		border:none;
		.font(14px;400;@base-color;30px;);
		text-transform: uppercase;
		text-align: center;

		&:hover{
			color:#d22856;
			border-bottom: 1px solid #d22856;
		}

		&:active{
			opacity: 0.3;
			border-bottom: none;
		}
	}
	.col-title{
		text-align: center;
	}
	.foto{
		margin-right: 70px;
		margin-bottom: 50px;

		&__img{
			max-width: 120px;
		}
		&__close{
			width: 55px;
			height: 55px;
			top:-27.5px;
			right:-27.5px;
			background-image: url('../img/foto-close-tab.png');
		}
		
	}
	.wrap:last-of-type{
		display: flex;
		flex-direction:row;
		justify-content: space-between;
		padding: 0;
	}
	.btn--green{
		width: 43%;
	}
	.map{
		height: 380px;

		&:before{
			height: 25.5%;
		}
	}
	.page-footer{
		&__title{
			font-size: 40px;
		}

	}
	.mobile-menu{
		top:110px;
	}
}
/* Стили для desktop */
@media (min-width: 941px) {
	body{
		max-width: none;
	}
	.page-header-top{
		padding: 25px 0 42px;
		position: relative;
 		z-index: 1;
	}
	.open-menu-btn{
		display: none;
	}
	
	.mobile-menu{
		display: block;
		background: none;
		width: auto;
		position: static;
		float: right;

		&__list{
			font-size: 0;
		}
		&__item{
			display: inline-block;
			vertical-align: top;
			border-top: none;
			box-shadow: none;
			margin-left: 75px;
		}
		&__item:first-of-type{
			margin-left: 0;
		}
		&__link{
			font-weight: 400;
			line-height: 18px;

			&:hover{
				border-bottom: 3px solid #fff;
				color:#fff;
			}
			&:active{
				color:#596470;
				border-bottom: none;
			}
		}
	}
	.page-header{

		&__wrap{
			background-image: url('../img/bg-header-full.jpg');
			height: 395px;
		}
		&__wrap--big{
			height: 854px;

			&:after{
				background-image: url("../img/page-header-iphone-desktop.png");
			}
		}
	}
	.page-title{
		padding: 80px;
	}
	.page-title--min{
		width: 300px;
		padding: 20px 0;
		margin-left: 0;
	}
	.mobile-app{
		margin: 0;
		padding-left: 0;

		&__logos{
			margin: 60px 0;
		}
	}
	.information{
		padding: 50px 0;
  		margin: 0;

		&__text{
			font-size: 50px;
		}
		&__text:nth-of-type(2){
			width: 450px;
		}
	}
	.features{
		font-size: 0;
		text-align: center;
		margin-top: 0;
		padding: 0;

		&:after{
			display: none;
		}

		&:before{
			transform: none;
			background: url('../img/triangle-white.svg') no-repeat;
			background-size: 100% auto;
			top:0;
			z-index: 0;
		}
	}
	.features-item{
		width: 31.25%;
		margin-left: 0;
		display: inline-block;
		vertical-align: top;
		text-align: center;
		margin-right: 3.125%;
		position: relative;
		z-index: 1;

		&:last-of-type{
			margin-right: 0;
		}

		&__title{
			font-size: 30px;
			line-height: 30px;
		}

		&__text{
			font-size: 18px;
			line-height: 30px;
		}
		&__image{
			display: block;
			margin: 0 auto;
		}
	}
	.effect{
		background: #f2f2f2;
		padding: 50px 0;

		&__text{
			font-size: 18px;
			line-height: 30px;
		}
		&__link{
			font-size: 18px;
			line-height: 30px;
		}
		&__content{
			width: 600px;
			margin-left: 30px;
		}
		&__img{
			width: 300px;
		}
	}
	.pages{
		display: none;
	}
	.slider--grey{
		padding: 0;
		margin: 0;
		margin-top: 45px;
		padding-top: 155px;
		
		&:before{
			transform: none;
			background: url('../img/triangle-white.svg') no-repeat;
			background-size: 100% auto;
			top:0;
			left:0;
			z-index: 0;
		}
	}
	.review{
		width: 65%;
		margin: 0 auto;
	}
	.nav-btns{
		display: block;
		position: relative;

		&__prev{
			width: 22px;
			height: 42px;
			font-size: 0;
			background: url('../img/prev.png') no-repeat;
			position: absolute;
			left: 10px;
			margin-top: -100px;
		}
		&__next{
			width: 22px;
			height: 42px;
			font-size: 0;
			position: absolute;
			background-image: url('../img/next.png');
			right:10px;
			margin-top: -100px;
		}
	}
	.slider{
		&__inner{
			padding-bottom: 90px;
			.container();
		}
	}
	.map{
		&:before{
			height: 38.5%;
		}
	}
	.blog{
		padding: 40px 0;
	}
	.blog-item{
		line-height: 30px;
		margin-left: 60px;
		margin-right: 0;
	}
	.pagination{
		padding: 20px 0;

		&__list{
			padding: 0;
		}
		&__item{
			width: 60px;
			margin-right: 10px;
		}
		&__item--big{
			width: 20%;
 			margin-right: 2.8%;
		}
		&__item--row{
			width: 42%;
			margin-right: 2.8%;
		}
	}
	.blog-post{
		padding: 40px 10px;
	}
	.form{
		padding: 60px 10px;
		padding-bottom: 0;

		&-title{
			font-size: 18px;
			width: 80%;
			margin: 0 auto;
			margin-bottom: 50px;
		}
	}
	.wrap:first-of-type, .wrap:nth-of-type(3){
		font-size: 0;
		
		.form-row{
			display: inline-block;
			vertical-align: top;
			width: 30%;
			margin-right: 5%;
		}
		.form-row:last-of-type{
			margin-right: 0;
		}
	}
	.wrap:nth-of-type(3){
		padding-bottom: 0;

		.form-row:nth-of-type(2){
			margin-right: 5%;
		}
	} 
	.wrap:nth-of-type(2){
		border:none;

		.form-row{
			display: inline-block;
			vertical-align: top;
			width: auto;
			margin-right: 9%;
		}
		.form-row:last-of-type{
			margin-right: 0;
		}
	}
	.middle-col{ 
		font-size: 0;

		.form-row{
			display: inline-block;
			vertical-align: top;
			width: 45%;
			margin-right:5%; 
		}
		.form-row:last-of-type{
			margin-right:0%; 
		}
	}
	.wrap:nth-of-type(5){
		font-size: 0;

		.form-row{
			display: inline-block;
			vertical-align: top;
			width: 31%;
			margin-right:3.3%;
		}
		.form-row:nth-of-type(3n+1){
			margin-right: 0;
		}
	}
	.upload{
		background: #d22856;
		color:#fff;
		border:none;
		border-radius: 3px;
	}
	.foto{
		margin-right: 5%;
	}
	.form-row--min{
		width: 30%;
	}
}
